In [46]:
import pandas as pd

1. What's the version of Pandas that you installed?

In [47]:
pd.__version__

'2.1.0'

### Reading data

In [48]:
data = pd.read_csv('housing.csv')

2 .How many columns are in the dataset?

In [49]:
data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [50]:
len(data.columns)

10

3. Which columns in the dataset have missing values?

In [51]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

- Total bedrooms

How many unique values does the ocean_proximity column have?

In [52]:
data["ocean_proximity"].value_counts()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

- 5

What's the average value of the median_house_value for the houses located near the bay?

In [53]:
data[data["ocean_proximity"]=="NEAR BAY"]['median_house_value'].mean()

259212.31179039303


- Calculate the average of total_bedrooms column in the dataset.
- Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
- Now, calculate the average of total_bedrooms again.
- Has it changed?

In [54]:
average_total_bedrooms = data['total_bedrooms'].mean()
average_total_bedrooms

537.8705525375618

In [55]:
data['total_bedrooms'] = data['total_bedrooms'].fillna(value=average_total_bedrooms)

In [56]:
new_average_total_bedrooms =data['total_bedrooms'].mean()
new_average_total_bedrooms

537.8705525375617

The average has not yet changed


-Select all the options located on islands.
-Select only columns housing_median_age, total_rooms, total_bedrooms.
-Get the underlying NumPy array. Let's call it X.
-Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
-Compute the inverse of XTX.
-Create an array y with values [950, 1300, 800, 1000, 1300].
-Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
-What's the value of the last element of w?

In [57]:
data = data[data['ocean_proximity']=='ISLAND']

In [58]:
data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [59]:
data_filtered = data[['housing_median_age', 'total_rooms',
       'total_bedrooms']]

In [60]:
import numpy as np

In [61]:
X = np.array(data_filtered)

In [62]:
XTX = X.T.dot(X)

In [63]:
inv = np.linalg.inv(XTX)

In [64]:
y = np.array([950, 1300, 800, 1000, 1300])

In [65]:
w = inv.dot(X.T).dot(y)

In [66]:
last_element_of_w = w[-1]

In [67]:
last_element_of_w

5.699229455065586